// COLORS
$clr-primary-1: hsl(300, 43%, 22%);
$clr-primary-2: hsl(333, 80%, 67%);

$clr-neutral-1: hsl(303, 10%, 53%);
$clr-neutral-2: hsl(300, 24%, 96%);
$clr-neutral-3: hsl(0, 0%, 100%);

// FONTS
$font-size: 15px;
$font-family: 'Spartan', sans-serif;

// MEDIA QUERIES
$desktop-md: 820px;
$desktop-lg: 1440px;

// SECTIONS MAX-WIDTH
$max-width: 443px;

// QUOTES MAXWIDTH
$max-width-qt: 350px;

$transtion: all 300ms ease;
